{
  "api": {
    "hosts": [
      {
        "protocol": "http",
        "address": "64.27.57.99",
        "port": 8001,
        "responsive": false
      },
      {
        "protocol": "http",
        "address": "127.0.0.1",
        "port": 8001,
        "responsive": true
      },
      {
        "protocol": "http",
        "address": "127.0.0.1",
        "port": 8002,
        "responsive": true
      },
      {
        "protocol": "http",
        "address": "127.0.0.1",
        "port": 8003,
        "responsive": true
      }
    ],
    "index": 1
  },
  "git": {
  },
  "update": {
    "url": "http://registry.npmjs.org/d/latest",
    "enabled": true,
    "last": null
  },
  "lastrun": null
l
